<mat-card>
  <ng-container *ngIf="winLossRecords">
    <div class="card-header">
      <div class="avatar-container">
        <img class="avatar" src="/assets/{{leagueWithGames.league.entity.image}}">
      </div>
      <span class="title">{{leagueWithGames.league.entity.name | titlecase}}</span>
      <table class="record-container">
        <tr>
          <td class="num-wins">W</td>
          <td class="num-losses">L</td>
          <td class="win-percentage" colspan="2">Pct</td>
        </tr>
      </table>
    </div>
    <mat-card-content>
      <app-win-loss-record *ngFor="let winLossRecord of winLossRecords" [winLossRecord]="winLossRecord">
      </app-win-loss-record>
    </mat-card-content>
  </ng-container>
</mat-card>
