.record-container {
  height: 45px;
  width: 120px;
  table-layout: fixed;
  vertical-align: bottom;
  text-align: right;
  float: right;
  margin-right: 16px;
}

.num-wins, .num-losses, .month-label {
  margin: 0 8px;
  color: #757575;
}

.win-percentage {
  margin: 0 20px 0 8px;
  color: #757575;
}
