<mat-card>
  <ng-container *ngIf="leagueWithGames">
    <div class="card-header">
      <div class="avatar-container">
        <img class="avatar" src="/assets/{{leagueWithGames.league.entity.image}}">
      </div>
      <span class="title">{{leagueWithGames.league.entity.name | titlecase}}</span>
    </div>
    <mat-card-content>
      <app-rated-game-card-item *ngFor="let ratedGame of leagueWithGames.ratedGames" [ratedGame]="ratedGame">
      </app-rated-game-card-item>
    </mat-card-content>
  </ng-container>
</mat-card>
