<div class="card-item-row">
  <span class="user-container" (click)="selectUser(monthTotal.user.id)">
    <div class="avatar-container">
      <img class="avatar" src="/assets/{{ monthTotal.user.entity.image }}">
    </div>
    <span class="subtitle">{{ monthTotal.user.entity.name | titlecase }}</span>
  </span>
  <table class="record-container">
    <tr>
      <td class="num-wins historical">
        {{ monthTotal.totals[0] }}
      </td>
      <td class="num-wins historical">
        {{ monthTotal.totals[1] }}
      </td>
      <td class="num-wins historical">
        {{ monthTotal.totals[2] }}
      </td>
      <td class="num-wins historical">
        {{ monthTotal.totals[3] }}
      </td>
      <td class="num-wins historical">
        {{ monthTotal.totals[4] }}
      </td>
      <td class="num-wins historical">
        {{ monthTotal.totals[5] }}
      </td>
      <td class="num-wins distant">
        {{ monthTotal.totals[6] }}
      </td>
      <td class="num-wins distant">
        {{ monthTotal.totals[7] }}
      </td>
      <td class="num-wins distant">
        {{ monthTotal.totals[8] }}
      </td>
      <td class="num-wins">
        {{ monthTotal.totals[9] }}
      </td>
      <td class="num-wins">
        {{ monthTotal.totals[10] }}
      </td>
      <td class="num-wins">
        {{ monthTotal.totals[11] }}
      </td>
    </tr>
  </table>
</div>
