.user-container {
  height: 100%;
  line-height: 100%;
  vertical-align: center;
}

.record-container {
  width: 60%;
  height: 45px;
  vertical-align: bottom;
  text-align: right;
  float: right;
  margin-right: 16px;
}

table {
  table-layout: fixed;
}

.num-wins {
  margin: 0 15px;
}

@media screen and (max-width: 1050px) {
  .historical {
    display: none;
   }
}

@media screen and (max-width: 600px) {
  .distant {
    display: none;
   }
}
