<div class="card-item-row">
  <span class="user-container">
    <div class="avatar-container">
      <img class="avatar" src="/assets/{{ monthTotal.user.entity.image }}">
    </div>
    <span class="subtitle">{{ monthTotal.user.entity.name | titlecase }}</span>
  </span>
  <span class="record-container">
    <span class="num-wins historical">
      {{ monthTotal.totals[0] }}
    </span>
    <span class="num-wins historical">
      {{ monthTotal.totals[1] }}
    </span>
    <span class="num-wins historical">
      {{ monthTotal.totals[2] }}
    </span>
    <span class="num-wins historical">
      {{ monthTotal.totals[3] }}
    </span>
    <span class="num-wins historical">
      {{ monthTotal.totals[4] }}
    </span>
    <span class="num-wins historical">
      {{ monthTotal.totals[5] }}
    </span>
    <span class="num-wins">
      {{ monthTotal.totals[6] }}
    </span>
    <span class="num-wins">
      {{ monthTotal.totals[7] }}
    </span>
    <span class="num-wins">
      {{ monthTotal.totals[8] }}
    </span>
    <span class="num-wins">
      {{ monthTotal.totals[9] }}
    </span>
    <span class="num-wins">
      {{ monthTotal.totals[10] }}
    </span>
    <span class="num-wins">
      {{ monthTotal.totals[11] }}
    </span>
  </span>
</div>
