.user-container {
  width: 20%;
  height: 100%;
  line-height: 100%;
  vertical-align: center;
}

.record-container {
  width: 80%;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  text-align: right;
  float: right;
}


.num-wins {
  margin: 0 15px;
}

