<mat-card>
  <ng-container *ngIf="leagueWithGames">
    <div class="card-header">
      <div class="avatar-container">
        <img class="avatar" src="/assets/{{leagueWithGames.league.entity.image}}">
      </div>
      <span class="title">{{leagueWithGames.league.entity.name | titlecase}}</span>
      <span class="record-container">
        <span class="month-label historical">{{monthNames[0]}}</span>
        <span class="month-label historical">{{monthNames[1]}}</span>
        <span class="month-label historical">{{monthNames[2]}}</span>
        <span class="month-label historical">{{monthNames[3]}}</span>
        <span class="month-label historical">{{monthNames[4]}}</span>
        <span class="month-label historical">{{monthNames[5]}}</span>
        <span class="month-label">{{monthNames[6]}}</span>
        <span class="month-label">{{monthNames[7]}}</span>
        <span class="month-label">{{monthNames[8]}}</span>
        <span class="month-label">{{monthNames[9]}}</span>
        <span class="month-label">{{monthNames[10]}}</span>
        <span class="month-label">{{monthNames[11]}}</span>
      </span>
    </div>
    <mat-card-content>
      <app-month-total *ngFor="let monthTotal of monthTotals; let i = index"
                       (userSelected)="onMonthsUserSelected($event)"
                       [monthTotal]="monthTotal">
      </app-month-total>
    </mat-card-content>
  </ng-container>
</mat-card>
