mat-card {
  padding: 0;
  margin: 8px;
  overflow-y: scroll;
  max-height: calc(100% - 32px);
}

#add-user-form {
  margin-top: 8px;
}

mat-card-content {
  overflow-y: scroll;
  margin: 0;
  width: 100%;
}

mat-form-field {
  margin: 8px;
}

table {
  table-layout: fixed;
}

.record-container {
  width: 560px;
  height: 45px;
  line-height: 45px;
  vertical-align: bottom;
  text-align: right;
  float: right;
  margin-right: 16px;
}

.num-wins, .num-losses, .month-label {
  margin: 0 8px;
  color: #757575;
}

.win-percentage {
  margin: 0 20px 0 8px;
  color: #757575;
}

@media screen and (max-width: 1050px) {
  .record-container {
    width: 350px;
  }

  .historical {
    display: none;
   }
}

@media screen and (max-width: 600px) {
  .record-container {
    width: 150px;
  }

  .distant {
    display: none;
   }
}
