mat-card {
  height: 100%;
  padding: 0;
}

#add-user-form {
  margin-top: 8px;
}

mat-card-content {
  overflow-y: scroll;
  height: calc(100% - 100px);
  margin: 0;
}

mat-card-actions {
  height: 50px;
  position: relative;
  bottom: 0px;
  border-top: 1px solid #e0e0e0;
  padding: 0px 8px 0px 0px;
}

mat-form-field {
  margin: 8px;
}
