<mat-card>
  <div class="card-header">
    <div class="avatar-container">
      <img class="avatar" src="/assets/{{leagueWithGames.league.entity.image}}">
    </div>
    <span class="title">{{leagueWithGames.league.entity.name | titlecase}}</span>
    <ng-container *ngIf="mode === 'conditional-standings' || mode === 'conditional-months'">
      <span class="divider">></span>
      <div class="avatar-container">
        <img class="avatar" src="/assets/{{selectedUser.entity.image}}">
      </div>
      <span class="title">{{selectedUser.entity.name | titlecase}}</span>
    </ng-container>
    <span *ngIf="mode === 'standings' || mode === 'conditional-standings'" class="record-container">
      <span class="num-wins">W</span>
      <span class="num-losses">L</span>
      <span class="win-percentage">Pct</span>
    </span>
    <span *ngIf="mode === 'months' || mode === 'conditional-months'" class="record-container">
      <span class="month-label historical">{{monthNames[0]}}</span>
      <span class="month-label historical">{{monthNames[1]}}</span>
      <span class="month-label historical">{{monthNames[2]}}</span>
      <span class="month-label historical">{{monthNames[3]}}</span>
      <span class="month-label historical">{{monthNames[4]}}</span>
      <span class="month-label historical">{{monthNames[5]}}</span>
      <span class="month-label">{{monthNames[6]}}</span>
      <span class="month-label">{{monthNames[7]}}</span>
      <span class="month-label">{{monthNames[8]}}</span>
      <span class="month-label">{{monthNames[9]}}</span>
      <span class="month-label">{{monthNames[10]}}</span>
      <span class="month-label">{{monthNames[11]}}</span>
    </span>
  </div>

  <mat-card-content [ngSwitch]="mode">

    <div *ngSwitchCase="'list'" class="ratings-list">
      <app-rated-game-card-item *ngFor="let ratedGame of leagueWithGames.ratedGames" [ratedGame]="ratedGame">
      </app-rated-game-card-item>
    </div>

    <div *ngSwitchCase="'add'">
      <form id="add-game-form">
        <mat-form-field>
          <mat-select placeholder="Winner" [(ngModel)]="winnerId" name="winner">
            <mat-option *ngFor="let user of client.users" [value]="user.id">
              {{user.entity.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Loser" [(ngModel)]="loserId" name="loser">
            <mat-option *ngFor="let user of client.users" [value]="user.id">
              {{user.entity.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div *ngSwitchCase="'standings'">
      <app-win-loss-record *ngFor="let winLossRecord of client.getWinLossRecords(leagueWithGames.league)" [winLossRecord]="winLossRecord"
                           (userSelected)="onStandingsUserSelected($event)">
      </app-win-loss-record>
    </div>

    <div *ngSwitchCase="'conditional-standings'">
      <app-win-loss-record *ngFor="let winLossRecord of conditionalWinLossRecords" [winLossRecord]="winLossRecord"
                           (userSelected)="onUserSelected($event)">
      </app-win-loss-record>
    </div>

    <div *ngSwitchCase="'months'">
      <app-month-total *ngFor="let monthTotal of client.getMonthTotals(leagueWithGames.league); let i = index"
                       (userSelected)="onMonthsUserSelected($event)"
                       [monthTotal]="monthTotal">
      </app-month-total>
    </div>

    <div *ngSwitchCase="'conditional-months'">
      <app-month-total *ngFor="let monthTotal of conditionalMonths"
                       (userSelected)="onMonthsUserSelected($event)"
                       [monthTotal]="monthTotal">
      </app-month-total>
    </div>

  </mat-card-content>

  <mat-card-actions [ngSwitch]="mode" align="end">

    <div *ngSwitchCase="'list'">
      <button *ngIf="isCricket()" mat-button class="action-button" [routerLink]="['/keep-score', leagueWithGames.league.id]">
        Keep Score
      </button>
      <button mat-button class="action-button" (click)="enterAddMode()">
        Add Game
      </button>
      <button mat-button class="action-button" (click)="enterStandingsMode()">
        Standings
      </button>
      <button mat-button class="action-button" (click)="enterMonthsMode()">
        Months
      </button>
    </div>

    <div *ngSwitchCase="'add'">
      <button mat-button class="action-button" (click)="enterListMode()">
        Cancel
      </button>
      <button mat-button class="action-button" (click)="saveGame()">
        Save
      </button>
    </div>

    <div *ngSwitchCase="'standings'">
      <button mat-button class="action-button" (click)="enterAddMode()">
        Add Game
      </button>
      <button mat-button class="action-button" (click)="enterListMode()">
        Recent Games
      </button>
      <button mat-button class="action-button" (click)="enterMonthsMode()">
        Months
      </button>
    </div>

    <div *ngSwitchCase="'conditional-standings'">
      <button mat-button class="action-button" (click)="enterAddMode()">
        Add Game
      </button>
      <button mat-button class="action-button" (click)="enterListMode()">
        Recent Games
      </button>
      <button mat-button class="action-button" (click)="enterStandingsMode()">
        Standings
      </button>
      <button mat-button class="action-button" (click)="enterMonthsMode()">
        Months
      </button>
    </div>

    <div *ngSwitchCase="'conditional-months'">
      <button mat-button class="action-button" (click)="enterAddMode()">
        Add Game
      </button>
      <button mat-button class="action-button" (click)="enterListMode()">
        Recent Games
      </button>
      <button mat-button class="action-button" (click)="enterStandingsMode()">
        Standings
      </button>
      <button mat-button class="action-button" (click)="enterMonthsMode()">
        Months
      </button>
    </div>

    <div *ngSwitchCase="'months'">
      <button mat-button class="action-button" (click)="enterAddMode()">
        Add Game
      </button>
      <button mat-button class="action-button" (click)="enterListMode()">
        Recent Games
      </button>
      <button mat-button class="action-button" (click)="enterStandingsMode()">
        Standings
      </button>
    </div>

  </mat-card-actions>
</mat-card>
