<div class="card-item-row">
  <span class="user-container" (click)="selectUser(winLossRecord.user.id)">
    <div class="avatar-container">
      <img class="avatar" src="/assets/{{ winLossRecord.user.entity.image }}">
    </div>
    <span class="subtitle">{{ winLossRecord.user.entity.name | titlecase }}</span>
  </span>
  <table class="record-container">
    <tr>
      <td class="num-wins">
        {{ winLossRecord.wins }}
      </td>
      <td class="num-losses">
        {{ winLossRecord.losses }}
      </td>
      <td class="win-percentage" colspan="2">
        {{ winPercentage | number:'0.3-3' }}
      </td>
    </tr>
  </table>
</div>
