<div class="card-item-row">
  <span class="user-container" (click)="selectUser(winLossRecord.user.id)">
    <div class="avatar-container">
      <img class="avatar" src="/assets/{{ winLossRecord.user.entity.image }}">
    </div>
    <span class="subtitle">{{ winLossRecord.user.entity.name | titlecase }}</span>
  </span>
  <span class="record-container">
    <span class="num-wins">
      {{ winLossRecord.wins }}
    </span>
    <span class="num-losses">
      {{ winLossRecord.losses }}
    </span>
    <span class="win-percentage">
      {{ winPercentage | number:'0.3-3' }}
    </span>
  </span>
</div>
