<h2 mat-dialog-title>
  <div class="avatar-container">
    <img class="avatar" src="/assets/{{league.image}}">
  </div>
  <span class="title">{{league.name | titlecase}}</span>
  <table class="record-container">
    <tr>
      <td class="stat-name">min</td>
      <td class="stat-name">max</td>
      <td class="stat-name">current</td>
    </tr>
  </table>
</h2>

<mat-dialog-content>
  <div class="avatar-container">
    <img class="avatar" src="/assets/{{ratedUser.user.entity.image}}">
  </div>
  <span class="subtitle winner">{{ ratedUser.user.entity.name | titlecase }}</span>
  <table class="record-container">
    <tr>
      <td class="stat min">{{ ratedUser.minRating }}</td>
      <td class="stat max">{{ ratedUser.maxRating }}</td>
      <td class="stat">{{ ratedUser.rating.entity.new_rating }}</td>
    </tr>
  </table>
  <div class="history-graph-wrapper">
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [view]="[400, 200]"
      [results]="ratingHistory"
      [xAxis]="false"
      [yAxis]="true"
      [autoScale]="true"
      [legend]="false"
      [timeline]="false"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false">
    </ngx-charts-line-chart>
  </div>
</mat-dialog-content>
