.mat-dialog-content {
  width: 400px;
}

.avatar-container {
  left: 0px;
}

.record-container {
  width: 250px;
  height: 45px;
  vertical-align: bottom;
  float: right;
}

.stat {
}

.max {
  color: #4CAF50;
}

.min {
  color: #FF5722;
}

.stat-name {
  color: #757575;
  font-size: 18px;
}

table {
  table-layout: fixed;
}

.history-graph-wrapper {
  margin-top: 32px;
}

@media screen and (max-width: 600px) {
  .record-container {
    width: 150px;
  }

  .stat-name {
    font-size: 14px;
   }

   .stat {
     font-size: 14px;
   }

   .mat-dialog-content {
     width: 300px;
   }
}
