<mat-card>
  <div class="card-header">
    <div class="avatar-container">
      <img class="avatar" src="/assets/{{leagueWithRatings.league.entity.image}}">
    </div>
    <span class="title">{{leagueWithRatings.league.entity.name | titlecase}}</span>
  </div>

  <mat-card-content [ngSwitch]="mode">

    <div *ngSwitchCase="'list'" class="ratings-list">
      <app-rated-user-card-item *ngFor="let ratedUser of leagueWithRatings.ratedUsers" [ratedUser]="ratedUser">
        <span>{{ ratedUser.user.entity.name | titlecase}}</span>
        <span>{{ ratedUser.rating }}</span>
      </app-rated-user-card-item>
    </div>

    <div *ngSwitchCase="'details'">
      <h2>Stats</h2>
    </div>

  </mat-card-content>

  <mat-card-actions [ngSwitch]="mode" align="end">

    <div *ngSwitchCase="'list'">
      <button mat-button class="action-button" (click)="enterDetailsMode()">
        Stats
      </button>
    </div>

    <div *ngSwitchCase="'details'">
      <button mat-button class="action-button" (click)="enterListMode()">
        List
      </button>
    </div>

  </mat-card-actions>
</mat-card>
