<mat-card>
  <ng-container *ngIf="leagueWithRatings">
    <div class="card-header">
      <div class="avatar-container">
        <img class="avatar" src="/assets/{{leagueWithRatings.league.entity.image}}">
      </div>
      <span class="title">{{leagueWithRatings.league.entity.name | titlecase}}</span>
    </div>
    <mat-card-content>
      <div class="ratings-list">
        <app-rated-user-card-item *ngFor="let ratedUser of leagueWithRatings.ratedUsers"
          (click)="openRatingDetails(ratedUser)"
          [ratedUser]="ratedUser">
        </app-rated-user-card-item>
      </div>
    </mat-card-content>
  </ng-container>
</mat-card>
