<mat-card class="card">
  <div class="card-header">
    <div class="avatar-container">
      <img class="avatar" src="/assets/{{league.entity.image}}">
    </div>
    <span class="title">
      {{ league.entity.name | titlecase}}
    </span>
  </div>

  <mat-card-content [ngSwitch]="rules">

    <div *ngSwitchCase="'cricket'" class="keep-score-content">
      <mat-grid-list cols="2" rowHeight="fit">
        <mat-grid-tile>
          <div id="scorecard">

            <div class="card-item-row">
              <div id="players">
                <div class="player-one">
                  <div class="avatar-container">
                    <img class="avatar" src="/assets/{{ liveGame.players[0].user.entity.image }}">
                  </div>
                  <span class="subtitle">{{liveGame.players[0].user.entity.name | titlecase}}</span>
                  <span class="rating">{{liveGame.players[0].rating.entity.new_rating }}</span>
                </div>
                <div class="player-two">
                  <div class="avatar-container">
                    <img class="avatar" src="/assets/{{liveGame.players[1].user.entity.image}}">
                  </div>
                  <span class="subtitle">{{liveGame.players[1].user.entity.name | titlecase}}</span>
                  <span class="rating">{{liveGame.players[1].rating.entity.new_rating }}</span>
                </div>
              </div>
            </div>

            <div class="card-item-row">
              <div class="cricket-score-cell-left">
                <span class="cell-text">
                  {{ liveGame.state.twentyScores[0] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.twenties[0] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.twentyScores[1] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.twenties[1] }}
                </span>
              </div>
            </div>

            <div class="card-item-row">
              <div class="cricket-score-cell-left">
                <span class="cell-text">
                  {{ liveGame.state.nineteenScores[0] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.nineteens[0] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.nineteenScores[1] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.nineteens[1] }}
                </span>
              </div>
            </div>

            <div class="card-item-row">
              <div class="cricket-score-cell-left">
                <span class="cell-text">
                  {{ liveGame.state.eightteenScores[0] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.eightteens[0] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.eightteenScores[1] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.eightteens[1] }}
                </span>
              </div>
            </div>

            <div class="card-item-row">
              <div class="cricket-score-cell-left">
                <span class="cell-text">
                  {{ liveGame.state.seventeenScores[0] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.seventeens[0] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.seventeenScores[1] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.seventeens[1] }}
                </span>
              </div>
            </div>

            <div class="card-item-row">
              <div class="cricket-score-cell-left">
                <span class="cell-text">
                  {{ liveGame.state.sixteenScores[0] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.sixteens[0] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.sixteenScores[1] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.sixteens[1] }}
                </span>
              </div>
            </div>

            <div class="card-item-row">
              <div class="cricket-score-cell-left">
                <span class="cell-text">
                  {{ liveGame.state.fifteenScores[0] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.fifteens[0] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.fifteenScores[1] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.fifteens[1] }}
                </span>
              </div>
            </div>

            <div class="card-item-row">
              <div class="cricket-score-cell-left">
                <span class="cell-text">
                  {{ liveGame.state.bullseyeScores[0] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.bullseyes[0] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.bullseyeScores[1] }}
                </span>
              </div>
              <div class="cricket-score-cell">
                <span class="cell-text">
                  {{ liveGame.state.bullseyes[1] }}
                </span>
              </div>
            </div>

            <div class="card-item-row">
              <div id="players">
                <div class="player-one">
                  <span class="cell-text total-score">
                    {{ liveGame.state.scores[0] }}
                  </span>
                </div>
                <div class="player-two">
                  <span class="cell-text total-score">
                    {{ liveGame.state.scores[1] }}
                  </span>
                </div>
              </div>
            </div>

          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div id="enter-score">

            <div class="card-item-row">
              <span class="cell-text" *ngIf="liveGame.isOver">
                Game Over. {{ liveGame.winner.entity.name }} is the winner!
              </span>

              <span class="cell-text" *ngIf="!liveGame.isOver">
                {{ liveGame.players[liveGame.state.turnIndex].user.entity.name }} 's Turn: {{ liveGame.state.shotsRemaining }} darts remaining
              </span>
            </div>

            <div class="card-item-row">
              <div class="cricket-enter-score-cell-left" (click)="recordShot({ value: 20, count: 1})">
                <span class="cell-text">
                  20 *
                </span>
              </div>
              <div class="cricket-enter-score-cell" (click)="recordShot({ value: 20, count: 2})">
                <span class="cell-text">
                  20 * *
                </span>
              </div>
              <div class="cricket-enter-score-cell" (click)="recordShot({ value: 20, count: 3})">
                <span class="cell-text">
                  20 * * *
                </span>
              </div>
            </div>

            <div class="card-item-row">
              <div class="cricket-enter-score-cell-left" (click)="recordShot({ value: 19, count: 1})">
                <span class="cell-text">
                  19 *
                </span>
              </div>
              <div class="cricket-enter-score-cell" (click)="recordShot({ value: 19, count: 2})">
                <span class="cell-text">
                  19 * *
                </span>
              </div>
              <div class="cricket-enter-score-cell" (click)="recordShot({ value: 19, count: 3})">
                <span class="cell-text">
                  19 * * *
                </span>
              </div>
            </div>

            <div class="card-item-row">
              <div class="cricket-enter-score-cell-left" (click)="recordShot({ value: 18, count: 1})">
                <span class="cell-text">
                  18 *
                </span>
              </div>
              <div class="cricket-enter-score-cell" (click)="recordShot({ value: 18, count: 2})">
                <span class="cell-text">
                  18 * *
                </span>
              </div>
              <div class="cricket-enter-score-cell" (click)="recordShot({ value: 18, count: 3})">
                <span class="cell-text">
                  18 * * *
                </span>
              </div>
            </div>

            <div class="card-item-row">
              <div class="cricket-enter-score-cell-left" (click)="recordShot({ value: 17, count: 1})">
                <span class="cell-text">
                  17 *
                </span>
              </div>
              <div class="cricket-enter-score-cell" (click)="recordShot({ value: 17, count: 2})">
                <span class="cell-text">
                  17 * *
                </span>
              </div>
              <div class="cricket-enter-score-cell" (click)="recordShot({ value: 17, count: 3})">
                <span class="cell-text">
                  17 * * *
                </span>
              </div>
            </div>

            <div class="card-item-row">
              <div class="cricket-enter-score-cell-left" (click)="recordShot({ value: 16, count: 1})">
                <span class="cell-text">
                  16 *
                </span>
              </div>
              <div class="cricket-enter-score-cell" (click)="recordShot({ value: 16, count: 2})">
                <span class="cell-text">
                  16 * *
                </span>
              </div>
              <div class="cricket-enter-score-cell" (click)="recordShot({ value: 16, count: 3})">
                <span class="cell-text">
                  16 * * *
                </span>
              </div>
            </div>

            <div class="card-item-row">
              <div class="cricket-enter-score-cell-left" (click)="recordShot({ value: 15, count: 1})">
                <span class="cell-text">
                  15 *
                </span>
              </div>
              <div class="cricket-enter-score-cell" (click)="recordShot({ value: 15, count: 2})">
                <span class="cell-text">
                  15 * *
                </span>
              </div>
              <div class="cricket-enter-score-cell" (click)="recordShot({ value: 15, count: 3})">
                <span class="cell-text">
                  15 * * *
                </span>
              </div>
            </div>

            <div class="card-item-row">
              <div class="cricket-enter-bull-cell-left" (click)="recordShot({ value: 25, count: 1})">
                <span class="cell-text">
                  Bull *
                </span>
              </div>
              <div class="cricket-enter-bull-cell" (click)="recordShot({ value: 25, count: 2})">
                <span class="cell-text">
                  Bull * *
                </span>
              </div>
            </div>

            <div class="card-item-row">
              <div class="cricket-enter-bull-cell-left" (click)="recordShot({ value: 0, count: 1})">
                <span class="cell-text">
                  Miss
                </span>
              </div>
              <div class="cricket-enter-bull-cell" (click)="recordShot({ value: 0, count: 1})">
                <span class="cell-text">
                  Next Turn
                </span>
              </div>
            </div>


          </div>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

    <div *ngSwitchCase="'301'">
      <h2>301 Rules</h2>
    </div>

    <div *ngSwitchDefault>
      <h2>N/A</h2>
    </div>

  </mat-card-content>

  <mat-card-actions [ngSwitch]="mode" align="end">

    <div *ngIf="liveGame.isOver">
      <button mat-button class="action-button" (click)="saveGame()">
        Save
      </button>
    </div>
    <button mat-button class="action-button" (click)="cancelGame()">
      Cancel
    </button>

  </mat-card-actions>
</mat-card>
