<mat-card>
  <ng-container *ngIf="leagueWithGames">
    <div class="card-header">
      <div class="avatar-container">
        <img class="avatar" src="/assets/{{leagueWithGames.league.entity.image}}">
      </div>
      <span class="title">{{leagueWithGames.league.entity.name | titlecase}}</span>
    </div>
    <mat-card-content>
      <div class="select-wrapper">
        <mat-form-field>
          <mat-select placeholder="Winner" [(ngModel)]="winner" name="winner">
            <mat-option *ngFor="let user of users" [value]="user">
              {{user.entity.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="select-wrapper">
        <mat-form-field>
          <mat-select placeholder="Loser" [(ngModel)]="loser" name="loser">
            <mat-option *ngFor="let user of users" [value]="user">
              {{user.entity.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button class="action-button" (click)="saveGame()">
        Add Game
      </button>
    </mat-card-actions>
  </ng-container>
</mat-card>
