mat-card {
  max-height: calc(100% - 80px);
  padding: 0;
  margin: 8px;
  overflow-y: scroll;
}

#add-user-form {
  margin-top: 8px;
}

mat-card-content {
  overflow-y: scroll;
  margin: 0;
}

mat-form-field {
  margin: 8px;
}

.record-container {
  height: 45px;
  line-height: 45px;
  vertical-align: bottom;
  text-align: right;
  float: right;
  margin-right: 16px;
}

.num-wins, .num-losses, .month-label {
  margin: 0 8px;
  color: #757575;
}

.win-percentage {
  margin: 0 20px 0 8px;
  color: #757575;
}

@media screen and (max-width: 1050px) {
  .historical {
    display: none;
   }
}
