.mat-dialog-content {
  width: 400px;
}

.avatar-container {
  left: 0px;
}

.subtitle {
  margin-left: 8px;
}

.game-date-played {
  float: right;
  color: #757575;
  font-weight: 500;
  line-height: 45px;
  vertical-align: middle;
  display: inline-block;
}
