mat-card {
  height: 100%;
  padding: 0;
}

.card-header {
  height: 50px;
  border-bottom: 2px solid #e0e0e0;
  background: #FFFF8D;
}

.title {
  margin: 8px 16px 8px 16px;
  font-size: 24px;
  font-weight: 500;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  display: inline-block;
}

.avatar-container {
  background-color: #9FA8DA;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  top: 8px;
  left: 8px;
}

.avatar {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

mat-card-content {
  overflow-y: scroll;
  height: calc(100% - 100px);
  margin: 0;
}

mat-card-actions {
  height: 50px;
  position: relative;
  bottom: 0px;
  border-top: 1px solid #e0e0e0;
  padding: 0px 8px 0px 0px;
}

#add-league-form {
  margin-top: 8px;
}

mat-form-field {
  margin: 8px;
}
