#score-right, #shot-left, #shot-right {
  width: calc(25% - 1px);
  border-left: 1px solid #e0e0e0;
}

#score-left {
  width: 25%;
}

#score-right, #shot-left, #shot-right, #score-left {
  display: inline-block;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
}

mat-icon {
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
}
